* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  font-size: large;
}

.encabezado{
  display: flex;
  justify-content: space-between;
}

.header{
  margin-bottom: 10px;
  text-transform: capitalize;
  /* color: darkslategrey; */
}

.nav {
  display: flex;
}

.nav li {
  background-color: orangered;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
  list-style: none;
  text-transform: uppercase;
}

.nav li + li {
  margin-left: 30px;
}

.nav li:hover {
  background-color: olivedrab;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.subtitulo {
  margin: 20px 0px;
  text-decoration: underline wavy rebeccapurple;
}

li {
  list-style: none;
}
